html {
    scroll-behavior: smooth;
}

body {
    /*max-height: 200vh;*/
    background-image: url("assets/pattern-min.png");
    background-color: #171717;
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
    font-family: 'Yekan Bakh'
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.q-mg-top {
    margin-top: 15%;
}

.center {
    text-align: center;
}

p {
    /*margin: 0;*/
    /*padding: 0;*/
}

@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url(Fonts/FA/Yekan_Bakh_EN_08_Fat_0.ttf);
}
@font-face {
    font-family: 'Yekan Bakh';
    src: url(Fonts/FA/Yekan_Bakh_EN_04_Regular_0.ttf);
}
@font-face {
    font-family: 'Yekan Bakh Heavy';
    src: url(Fonts/FA/Yekan_Bakh_EN_07_Heavy_0.ttf);
}

@font-face {
    font-family: 'Yekan Bakh Bold';
    src: url(Fonts/FA/Yekan_Bakh_EN_06_Bold_0.ttf);
}

@media only screen and (max-width: 400px) {
    /*.pattern-img {*/
    /*    height: 180vw;*/
    /*}*/

    .main-logo-img {
        height: 30vh !important;
    }
    .biggest-race {
        margin-top: 8% !important;
    }

    .cafe-logo {
        margin-top: 6% !important;
    }

    .miliun {
        font-size: 7vw!important;
    }
}

.container {
    margin: 0;
    padding: 0;
}

.main-logo {
    position: relative;
}

.main-logo-img {
    height: auto;
    /*height: 30vh;*/
    width: 100%;
    margin:auto;
    display:block;
}

.miliun{
    font-family: 'Yekan Bakh Fat';
    vertical-align: bottom;
    font-weight: 1000;
    font-size: 9vw;
    text-shadow: 0px 0px 25px rgba(252, 197, 8, 0.5);
}

.separator {
    width: 100%;
    margin: 0;
    padding: 0;
}

.separator-img {

    height: auto;
    width: 100%;;
    margin:auto;
    display:block
}

.pattern {
    position: relative;
}

.pattern-img {
    margin-bottom: -3%;
    width: 100%;
    background-color: #171717;
    background-repeat: repeat-y;
}

.reward
{
    position: absolute;
    top:5%;
    width: 100%;
}

.total-reward {
    position: relative;
}

.reward-img {
    position: relative;
    height: auto;
    width: 85%;
    margin: auto;
    display: block;
}

.reward-text-box {
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
}

.reward-text{
    text-align: center;
    font-size: 5.5vw;
    font-family: 'Yekan Bakh';
    font-style: normal;
    line-height: 3vw;
    font-weight: 700;
    color: #FCC508;
    text-shadow: 0px 0px 15px rgb(252 197 8 / 40%);
}

.first-reward-content {
    /*right: 16%;*/
    /*top: 0%;*/
}

.second-reward-content {
    /*top: 8%;*/
    /*right: 37%;*/
}

.biggest-race{
    margin-top: 12%;
}

.biggest-race-text {
    font-family: 'Yekan Bakh Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 5.5vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
    line-height: 2vw;
}

.cafe-logo{
    margin-top:10%;
    text-align: center;
}

.cafe-logo-img {
    width: 20%;
}

.timer {
    text-align: center;
    /*height: 20%;*/
    /*margin-bottom: 30%;*/
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.8) 0%, rgba(66, 66, 66, 0) 100%);
}

.gradient {
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.8) 0%, rgba(66, 66, 66, 0) 100%);
}

.time-img {
    margin: 7%;
    text-align: center;
    width: 53%;
    margin-bottom: 0;
}

.f-time {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    position: absolute;
}
.minute-text {
    right: 27%;
}

.hour-text {
    right: 45%;
}
.day-text {
    right: 65%;
}

.register-text  {
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 5.5vw;
    text-align: center;
    color: #FCC508;
    padding-top:2% ;
}

.footer-logos {
    margin-top: 15%;
}

.lidoma {
    margin: 3%;
    float: right;
    width: 25%;
}

.paxit {
    margin: 3%;
    width: 25%;
}

.counter {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;

}

.counter span {
    display: inline-block;
    width: 7%;
    text-align: center;
    top: 40%;
    position: absolute;
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
    color: #FCC508;
}



#minute1 {
    right: 24%;
}
#minute2 {
    right: 32%;
}

#hour1 {
    right: 42.5%;
}

#hour2 {
    right: 50.5%;
}

#day1 {
    right: 61%;
}

#day2 {
    right: 69%;
}

.register {
    width: 100%;
    /*margin-top: 7%;*/
    position: relative;
    text-align: center;
}

.register-button:hover {
    transform: scale(1.1);
    transition: .1s;
    background: #FCC508;

}

.register span {
    position: absolute;
    top: 32%;
    right: 42%;
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 5.5vw;
    text-align: center;
    color: #FFFFFF;
}

.register-button {
    width: 68%;
    margin-top: 7%;
}

.register-deadline {
    margin-top: 0%;
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vw;
    text-align: center;
    color: #FFFFFF;
}

.reward-title {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 500;
    font-size: 5.5VW;
    text-align: center;
    color: #FFFFFF;
}

.arrow {
    width: 100%;
    text-align: center;
    margin: auto;
}

.arrow-img {
    width: 5%;
}

.reward-details {
    text-align: center;
    width: 100%;
    margin-top: 5%;
    position: relative;
}

.reward-back {
    width: 89%;
}

.first-page {
    /*ssss*/
    display: none;
}

/*.second-page {*/
/*    !*ssss*!*/
/*    display: none;*/
/*}*/

.rewards {
    margin-top: 10%;
}

.team-rewards-title {
    padding: 0;
    margin: 0;
    font-family: 'Yekan Bakh Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 4.3vw;
    text-align: center;
    color: #FFFFFF;
}

.personal-rewards-title {
    padding: 0;
    margin: 0;
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 900;
    font-size: 4.3vw;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.team-rewards-details{
    position: absolute;
    width: 100%;
    top: 6%;
    direction: rtl;
    line-height: 7vw;
}

.team-reward-list{
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vw;
    text-align: right;
    color: #FFFFFF;
    display: inline-block;
    width: 40%;
}

.team-reward-money {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 700;
    font-size: 4.3vw;
    color: #FCC508;
    display: inline-block;
    width: 30%;
    text-align: left;
}


.personal-rewards-details{
    position: absolute;
    width: 100%;
    top: 50%;
    direction: rtl;
    line-height: 7vw;
}

.description {
    width: 95%;
    position: relative;
}

.character-img {
    width: 100%;
}

.description-details {
    direction: rtl;
    position: absolute;
    width: 90%;
    top :2%
}

.description-rules {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 400;
    font-size: 4.1vw;
    text-align: right;
    color: #FFFFFF;
    width: 90%;
    padding-left: 1.5em;
    text-indent:-1.5em;
}

.bullet-img {
    width: 5%;
    vertical-align: middle;
}


