body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.main-logo {
position: relative;


}

.main-logo-img {

    height: auto;
    width: 100%;
    margin:auto;
    display:block;
}

.separator {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.separator-img {

    height: auto;
    width: 100%;;
    margin:auto;
    display:block
}

.pattern {
    position: relative;
}

.pattern-img {
    width: 100%;
    background-color: #171717;
}

.reward
{
    position: absolute;
    top:5%;
    width: 100%;
}

.reward-img {
    top: 5%;
     position: absolute;
    height: auto;
    width: 85%;
    margin:auto;
    display:block;
    left: 8%;
}

.reward-text-box {
    position: absolute;
    top : 4%;
    left: 0;
    right: 0;

}

.reward-text{
  text-align: center;
    /*position: absolute;*/
    font-size: 5.5vw;
    /* width: 146px; */
    /* height: 90px; */
    /* left: 778px; */
    /* top: 718px; */
    font-family: 'Yekan Bakh';
    font-style: normal;
    line-height: 4vw;
    font-weight: 700;
    color: #FCC508;
    text-shadow: 0px 0px 15px rgb(252 197 8 / 40%);
}

.first-reward-content {
    /*right: 16%;*/
    /*top: 0%;*/
}

.second-reward-content {
    /*top: 8%;*/
    /*right: 37%;*/
}

.biggest-race{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.biggest-race-text {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
    line-height: 3vw;
}

.cafe-logo{
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 3%;
}

.cafe-logo-img {
    width: 20%;
}

.timer {
    text-align: center;
    position: absolute;
     top: 50.5%;
     height: 20%;
    left:0;
    right: 0;
    background: linear-gradient(180deg, rgba(66, 66, 66, 0.8) 0%, rgba(66, 66, 66, 0) 100%);
}

.time-img {
    margin: 7%;
    text-align: center;
    width: 53%;
    margin-bottom: 0;
}

.timer span {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    position: absolute;
}
.minute-text {
    right: 27%;
}

.hour-text {
    right: 45%;
}
.day-text {
    right: 65%;
}

.register-text  {
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    color: #FCC508;
    padding-top:2% ;
}

.footer-logos {
    bottom: 3%;
    position: absolute;
    left: 0;
    right: 0;
}

.lidoma {
    position: absolute;
    right: 3%;
    bottom: 0;
    width: 25%;
}

.paxit {
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 25%;
}

.counter {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;

}

.counter span {
    position: absolute;
    font-family: 'Yekan Bakh';
    font-style: normal;
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
    color: #FCC508;
}

.minute1 {
    right: 26%;
}
.minute2 {
    right: 34%;
}

.hour1 {
    right: 44%;
}

.hour2 {
    right: 52%;
}

.day1 {
    right: 63%;
}

.day2 {
    right: 71%;
}